<nav class="bg0 rel m-header">
	<header class="hlh60 rel cf l_ px20 auto" style="width:980px">
        <span class="f30 mr50">
            <!--<img src="images/OpenDaylight_logo.png" alt="OpenDaylight Logo" class="logo-image">-->
            <img src="images/logo.svg" alt="NeXt Logo" class="logo-image"/>
        </span>
		<span class="r link-f_ f16 mr20_">
            <a @@if (navActiveItem === "home") {
  						class="active"
					} href="./index.html">Home</a>
            <a @@if (navActiveItem === "examples") {
  						class="active"
					} href="./examples.html">Examples</a>
            <a @@if (navActiveItem === "showcase") {
  						class="active"
					} href="./show-case.html">Showcase</a>
            <a class="js-docs" href="javascript:;">DOC <i class="fa fa-caret-down"></i></a>
            <a @@if (navActiveItem === "download") {
  						class="active"
					} href="./download.html">Download</a>
        </span>
		<ul class="m-dropdown-menu" role="menu">
			<li><a role="menuitem" tabindex="-1" href="./docs.html">Tutorials</a></li>
			<li><a role="menuitem" tabindex="-1" href="./docs.html">API</a></li>
		</ul>
	</header>
</nav>